body{
    background-color:black;
    color: aqua;
    text-align: center;
    margin: 100px 0;
    font-size: 20px;
}
main{
    max-width: 90%;
}
button{
    background-color: aqua;
    color: aliceblue;
    padding: 10px;
}
.img01{
    width: 110%;
}